@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,400&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root{
    --body-color:#fff;
    --primary-color:#0A72AD;
    --primary-color-deep:#02314d;
    --secondary-bg:#F6F6F6;
    --bg-text-color:#000;
    --small-text-color:#706f7b;
    --white-text-color:#fff;
    --border-color:#ababab;
    --initial-bg:#202020;
    --btn-radius:3px;
    --hover-shadow:#0A72AD 0px 1px 15px 0px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


button{
        border: none;
        outline: none;
        cursor: pointer;
}

input{
    border: none;
    outline: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: Rubik, sans-serif;
    background: linear-gradient(to bottom, #313030 22%, #ffffff 23%);
}

main{
    width: 100%;
    height: 100%;
}

.light-section{
    width: 100%;
    background: var(--body-color);
}


